#loginPanel{
    -fx-background-color: WHITE ;
    -fx-background-radius : 30px 0px 0px 30px;
}
#mainPanel{
    -fx-background-color : #1f75ff;
}
#infoPanel{
    -fx-background-color : #1f75ff ;
    -fx-border-color : #1f75ff ;
}
#userIdTextField{
    -fx-background-color :  transparent ;
    -fx-border-color:  #1f75ff;
    -fx-border-width:   0px 0px 2px 0px ;
}
#passwordField{
    -fx-background-color :  transparent ;
    -fx-border-color:  #1f75ff;
    -fx-border-width:   0px 0px 2px 0px ;
}
#loginButton{
    -fx-background-color :  #1f75ff;
}
#exitButton{
    -fx-background-color: WHITE ;
}
#exitButton:hover{
    -fx-background-color : RED ;
    -fx-text-fill : WHITE ;
}
#minimizeButton{
    -fx-background-color: WHITE ;
}
#minimizeButton:hover{
    -fx-background-color : #dedede ;
    -fx-text-fill : #1f75ff ;
}