#mainRoot{
    -fx-background-color: white;
    -fx-border-width: 7px;
    -fx-border-color: #d1d1d1;
}
#main_background{
    -fx-background-color: #dedede;
    -fx-background-radius: 0px 20px 20px 0px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.5, 4, 5); /* X=0, Y=5 */
}
#table_pan{
    -fx-background-radius: 20px;
    -fx-background-color: white;
}
#left_bar_menu{
    -fx-background-color: white;
}
#text_field_rechercher_demande{
    -fx-background-color: white;
    -fx-text-fill: grey;
    -fx-background-radius: 200px;
    -fx-border-width: 0px;
}
#gestino_des_cong_button {
    -fx-background-color: transparent;
}#gestion_des_abondant_button {
    -fx-background-color: transparent;
}#profile_button {
    -fx-background-color: transparent;
}#more_button{
    -fx-background-color: transparent;
}
#close_button{
    -fx-background-color: transparent;
}
#gestino_des_cong_button:hover {
    -fx-background-color: dedede;
    -fx-background-radius: 20px;

}#gestion_des_abondant_button:hover {
     -fx-background-color: dedede;
     -fx-background-radius: 20px;
 }
#close_button:hover{
    -fx-background-color: dedede;
    -fx-background-radius: 200px;
}
#profile_button :hover{
    -fx-background-color: dedede;
    -fx-background-radius: 20px;
}#more_button:hover{
     -fx-background-color: dedede;
     -fx-background-radius: 20px;
 }

.chart-pie {
    /*-fx-pie-label-visible: true;*/
}
.chart-pie-data:nth-child(1) {
    -fx-pie-color: #44f600;
}

.chart-pie-data:nth-child(2) {
    -fx-pie-color: #ffd800;
}

.chart-pie-data:nth-child(3) {
    -fx-pie-color: #ff0000;
}
.chart-pie-label {
    -fx-opacity: 0;
    -fx-font-size: 0px;
}
.chart-pie-label-line {
    -fx-stroke: transparent;
}

#button_ajouter_demande:hover{
    -fx-background-color: #4f92ff;
    -fx-text-fill: white;
    -fx-background-radius: 200px;
    -fx-font-size: 14px;
    -fx-font-weight: 900;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 2, 0.2, 2, 2); /* X=0, Y=5 */
}
#button_ajouter_demande{
    -fx-background-color: white;
    -fx-text-fill: #1f75ff;
    -fx-background-radius: 200px;
    -fx-font-size: 14px;
    -fx-font-weight: 900;
}
#scroll_pane{
    -fx-border-color: white;
}

#main_Panel {
    -fx-background-color: WHITE;
}

.reintegration-button {
    -fx-background-color: #dedede;
    -fx-text-fill: #4b4b4b;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
}

.reintegration-button-enabled {

    -fx-background-color: #2f8a47;
    -fx-text-fill: white;
}

.reintegration-button-enabled:hover {
    -fx-background-color: #006609;
    -fx-text-fill: white;
}
.reintegration-button-disabled {
    -fx-opacity: 0.45;
}

