#main_hbox{
    -fx-border-color: white;
}
#voir_jst_button{
    -fx-background-color: #1f75ff;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}
#traiter_jst_button{
    -fx-background-color: #dfa300;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}
#voir_jst_button:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1f75ff;
    -fx-background-radius: 20px;
}
#traiter_jst_button:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #dfa300;
    -fx-background-radius: 20px;
}